:root {
  --primary-color: #0CBC92;
  --primary-opposite-color: #fff;
  --text-color: #fff;
  --text-color-dim: #3D3D3D;
  --body-background: #101010;
  --hero-background: #161616;
  --footer-background: #161616;
  --container-padding: 90px;

  font-family: 'Unbounded', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--body-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #0CBC92;
    --primary-opposite-color: #fff;
    --text-color: #161616;
    --text-color-dim: #bfbfbf;
    --body-background: #fff;
    --hero-background: #efefef;
    --footer-background: #efefef;
  }

  .hero-gradient {
    opacity: 0.5;
  }
}

.__rise {
  z-index: 1;
  position: relative;
}

body {
  margin: 40px;
}

a {
  color: var(--text-color);
}

.hero {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--hero-background);
  margin-bottom: 60px;
}

.hero-gradient {
  position: absolute;
  pointer-events: none;
  background-image: url(/images/toshkashadowblade.png);
  background-repeat: no-repeat;
  background-position: calc(-100px + var(--mouse-x, 0)) calc(100% + var(--mouse-y, 0));
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

/**
 * Hero Header
 */

.hero-header {
  border-radius: 20px 20px 0 0;
  display: flex;
  background-color: var(--body-background);
}

.hero-header-info {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 21px 21px;
  background-color: var(--hero-background);
  border-radius:  20px 20px 0 0;
  text-align: right;
}

.hero-header-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.hero-header-info li {
  margin: 0;
  padding: 0;
}

.hero-header-info-content {
  font-size: 20px;
  flex-direction: column;
}

.hero-header-info .hero-header-social {
  margin: 0;
  margin-left: 20px;
}

.hero-header-social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-header-social li {
  margin-left: 10px;
}

.hero-header-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: 58px;
  color: var(--primary-opposite-color);
  background-color: var(--primary-color);
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-header-social a:hover {
  background-color: var(--primary-opposite-color);
  color: var(--primary-color);
}

.hero-header-social svg {
  width: 24px;
  height: 24px;
}

.hero-header-download {
  display: flex;
  flex-direction: column;
  background-color: var(--hero-background);
  position: relative;
  overflow: hidden;
}

.hero-header-download:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--hero-background);
  height: 21px;
  border-radius: 0 20px 0 0;
}

.hero-header-download:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--body-background);
  height: 21px;
}

.hero-header-download a {
  display: flex;
  flex-direction: column;
  padding: 20px 101px 20px 39px;
  text-decoration: none;
  background-color: var(--body-background);
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.3;
  border-radius: 0 0 0 20px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-wrap: nowrap;
}

.hero-header-download:hover a {
  padding-left: 101px;
  padding-right: 39px;
}

.hero-header-download-icon {
  position: absolute;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-header-download-icon--left {
  left: -50px;
  bottom: -50px;
  opacity: 0;
}

.hero-header-download:hover .hero-header-download-icon--left {
  transform: translate(75px, -90px);
  opacity: 1;
}

.hero-header-download-icon--right {
  right: 39px;
  top: 23px;
  opacity: 1;
}

.hero-header-download:hover .hero-header-download-icon--right {
  transform: translate(90px, -90px);
  opacity: 0;
}

.hero-header-download span {
  /* gradient on text #0ED1A2, #0ED1A200 */
  background: linear-gradient(90deg, var(--text-color) 0%, var(--primary-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-header-download b {
  font-size: 20px;
}

/**
 * Hero Body
 */

.hero-body {
  font-size: 30px;
  font-weight: bold;
  padding: 30px var(--container-padding) 100px;
  margin-top: -20px;
  line-height: 1.38;
}

.hero-body p {
  margin: 0 0 34px;
  max-width: 900px;
  text-wrap: balance;
}

.hero-body strong {
  color: var(--primary-color);
}

.hero-primary-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 60px;
  color: var(--primary-opposite-color);
}

.hero-primary-link a {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-opposite-color);
  background-color: var(--primary-color);
  border-radius: 60px;
  text-decoration: none;
  padding: 21px 92px 21px 48px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-primary-link:hover a {
  padding-left: 92px;
  padding-right: 48px;
}

.hero-primary-link-icon {
  position: absolute;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-primary-link-icon--left {
  left: -50px;
  bottom: -50px;
  opacity: 0;
}

.hero-primary-link:hover .hero-primary-link-icon--left {
  transform: translate(85px, -60px);
  opacity: 1;
}

.hero-primary-link-icon--right {
  right: 48px;
  top: 21px;
  opacity: 1;
}

.hero-primary-link:hover .hero-primary-link-icon--right {
  transform: translate(90px, -90px);
  opacity: 0;
}

.hero-secondary-link {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.hero-secondary-link a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-self: flex-end;
}

.hero-secondary-link svg {
  margin-left: 10px;
}

/**
 * About
 */

.about {
  padding: 0 var(--container-padding);
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 1.4;
}

.about h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 15px;
  line-height: 1.7;
}

.about strong {
  color: var(--primary-color);
  font-weight: normal;
}

.about p {
  margin: 0 0 20px;
}

/**
 * Skills
 */

.skills {
  display: flex;
  align-items: center;
  padding: 0 var(--container-padding);
  margin-bottom: 48px;
  font-size: 14px;
}

.skills h2 {
  margin: 0 15px 0 10px;
  font-size: 17px;
  line-height: 1;
}

.skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 11px 26px 9px;
  border-radius: 20px;
  border: 1px solid #242424;
}

/**
 * contact
 */

.contact {
  padding: 0 var(--container-padding);
  margin-bottom: 60px;
}

.contact strong {
  color: var(--text-color);
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
}

.contact p {
  margin: 5px 0;
  color: var(--text-color-dim);
}

/**
 * Footer
 */

.footer {
  display: flex;
  color: var(--text-color-dim);
  background-color: var(--footer-background);
  padding: 0 var(--container-padding);
  border-radius: 20px;
  align-items: center;
  height: 65px;
}

.footer-year {
  margin-right: 20px;
  color: var(--text-color-dim);
}

.footer-social {
  margin-right: auto;
}

.footer-social ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social li {
  display: flex;
}

.footer-social a {
  padding: 10px;
  display: flex;
  color: var(--text-color);
}

.footer-made-by {
  margin-right: 5px;
  color: var(--text-color-dim);
}

.mobile-only {
  display: none !important;
}

@media (max-width: 900px) {
  :root {
    --container-padding: 0px;
  }

  body {
    margin: 30px;
  }

  .mobile-only {
    display: flex !important;
  }

  .desktop-only {
    display: none !important;
  }

  .hero {
    padding-bottom: 70px;
    margin-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-gradient {
    background-position: 0 100%;
  }

  .hero-header-info {
    justify-content: center;
    text-align: center;
    padding: 50px 0 0 0;
  }

  .hero-header-social {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-header-social li {
    margin: 0 3.5px;
  }

  .hero-header-social a {
    border-radius: 10px;
    height: 45px;
    width: 45px;
  }

  .hero-header-social svg {
    width: 19px;
    height: 19px;
  }

  .hero-header-info-content {
    font-size: 15px;
  }

  .hero-body {
    text-align: center;
    padding: 0;
    margin-top: 65px;
    margin-bottom: 60px;
  }

  .about h2,
  .contact h2,
  .skills h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
  }

  .about p {
    line-height: 1.24;
  }

  .skills {
    flex-direction: column;
  }

  .skills svg {
    display: none;
  }

  .skills ul {
    flex-wrap: nowrap;
    overflow: scroll;
    max-width: 100vw;
    margin: 0 -30px;
    padding: 10px 0;
    scroll-padding: 30px;
    scroll-snap-type: x mandatory;
  }

  .skills li:first-child {
    margin-left: 30px;
  }

  .skills li:last-child {
    margin-right: 30px;
  }

  .skills li {
    scroll-snap-align: start;
    text-wrap: nowrap;
    margin: 0 10px;
  }
  
  .footer {
    padding: 0 22px;
  }

  .footer-year {
    margin-right: auto;
  }

  .footer-made-by {
    margin: 0;
  }
}


@media (max-width: 700px) {
  .hero-body {
    font-size: 16px;
    font-weight: bold;
  }
}